<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container stack-m">
        <article class="stack-s">
          <h2>Search box #1</h2>
          <form action="#" data-type="simple">
            <input type="text" placeholder="Enter text">
            <div class="button-wrapper">
              <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </form>
        </article>
        <article class="stack-s">
          <h2>Search box #2 (Click on search button)</h2>
          <form action="#" data-type="animated">
            <input type="text" placeholder="Enter text">
            <div class="button-wrapper">
              <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </form>
        </article>
      </div>
      
      <script src="https://use.fontawesome.com/d5a416c43b.js"></script>
    
</body>
</html>